.gitignore
aclocal.m4
config.status
epochtest
Makefile.in
Makefile
stamp-h1
config.h
configure
config.h.in
autom4te.cache/
.config/
config.log
src/epochtest-epochtest.o
src/.dirstamp
src/.deps/
.config/

